{:uncooperative-unaggressive 0.1,
 :num-players 50,
 :cooperative-unaggressive 0.1,
 :uncooperative-aggressive 0.7,
 :id cfg799,
 :num-ticks 70,
 :num-steps 20,
 :cooperative-aggressive 0.1,
 :tempered-tiles
 {1 1,
  2 0,
  3 0,
  4 0,
  5 1,
  6 0,
  7 0,
  8 0,
  9 1,
  10 1,
  11 1,
  12 1,
  13 0,
  14 0,
  15 0,
  16 1,
  17 1,
  18 1,
  19 1,
  20 1}}
