{:uncooperative-unaggressive 0.1,
 :num-players 50,
 :cooperative-unaggressive 0.1,
 :uncooperative-aggressive 0.1,
 :id cfg799,
 :num-ticks 20,
 :num-steps 20,
 :cooperative-aggressive 0.7,
 :tempered-tiles
 {1 0,
  2 1,
  3 1,
  4 1,
  5 1,
  6 1,
  7 1,
  8 0,
  9 0,
  10 0,
  11 0,
  12 1,
  13 0,
  14 1,
  15 0,
  16 1,
  17 1,
  18 1,
  19 0,
  20 1}}
