{:uncooperative-unaggressive 0.1,
 :num-players 50,
 :cooperative-unaggressive 0.1,
 :uncooperative-aggressive 0.1,
 :id cfg799,
 :num-ticks 70,
 :num-steps 20,
 :cooperative-aggressive 0.7,
 :tempered-tiles
 {1 0,
  2 0,
  3 1,
  4 0,
  5 0,
  6 0,
  7 1,
  8 1,
  9 0,
  10 0,
  11 1,
  12 1,
  13 1,
  14 0,
  15 0,
  16 0,
  17 0,
  18 1,
  19 0,
  20 0}}
